<h1>New page</h1>
<%= form_for :question, url: questions_path do |q|%>
<p>
	<%= q.label :title %><br>
	<%= q.text_field :title %>	
</p>

<p>
	<%= q.label :text %><br>
	<%= q.text_area :text %>	
</p>

<p>
	<%= q.submit %>
</p>
<% end %>
